<!DOCTYPE html>
<html ng-app="conterApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>You can do it!</title>
  <link rel="stylesheet" href="stylesheets/index.css">
  <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" ng-module="ui.bootstrap"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div class="container-fluid" ng-controller="CounterCtrl">
    <div class="counter col-md-6 col-md-offset-3">
      {{ counter }}
    </div>
    <div class="add col-md-6 col-md-offset-3" ng-click="plusOne($index)">
      +
    </div>
  </div>
</body>
</html>